.u-calendar {
	background: #fff;
	border: 1px solid #000;
	height: 160px;
	overflow: hidden;
	position: absolute;
	width: 200px
}

.u-calendar * {
	color: #000;
	font-size: 11px;
	margin: 0
}

.u-calendar button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0
}

.u-calendar-switcher {
	background: #aaa;
	text-align: center
}
.u-calendar-switcher button {
	color: #fff;
	cursor: pointer;
	height: 20px;
	font-weight: bold;
	padding: 2px
}

.u-calendar table {
	border-collapse: collapse;
	left: 50%;
	margin-left: -85px;
	position: absolute;
	top: 20px
}

.u-calendar th {
	height: 18px;
	padding: 0;
}
.u-calendar td {
	padding: 0;
}
.u-calendar td button:hover {
	background: #ccc
}

.u-calendar-decade td, .u-calendar-decade td button {
	height: 26px;
	width: 34px
}

.u-calendar-year td, .u-calendar-year td button {
	height: 26px;
	width: 57px
}

.u-calendar-month td, .u-calendar-month td button {
	height: 22px;
	width: 24px;
}

button.u-calendar-button-prev, button.u-calendar-button-next {
	background: red;
	color: transparent;
	height: 40px;
	position: absolute;
	top: 20px;
	width: 15px
}
button.u-calendar-button-next {
	right: 0
}