.u-calendar {
	background: #d5d5d5 url("pics/bg.png") no-repeat;
	border: 1px solid #999;
	cursor: default;
	height: 160px;
	overflow: hidden;
	padding: 5px 10px 10px;
	position: absolute;
	width: 180px;
	border-radius: 5px;
	-moz-border-radius: 5px
}

.u-calendar * {
	color: #000;
	font: 11px "sans", "trebuchet ms";
	margin: 0
}

.u-calendar button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0
}

.u-calendar-switcher {
	text-align: center
}
.u-calendar-switcher button {
	background: url("pics/more.png") no-repeat right center;
	height: 18px;
	padding: 2px 10px 10px 2px;
}

button.u-calendar-button-prev,
button.u-calendar-button-next {
	background: url("pics/buttons.png");
	color: transparent;
	height: 18px;
	left: 10px;
	position: absolute;
	top: 4px;
	width: 15px
}
button.u-calendar-button-next {
	background-position: -15px 0;
	left: auto;
	right: 10px
}

.u-calendar table {
	border-collapse: collapse;
	left: 50%;
	margin-left: -90px;
	position: absolute;
}

.u-calendar th,
.u-calendar td {
	height: 18px;
	padding: 0;
}

.u-calendar td button:hover,
.u-calendar td button:focus {
	background: #ccc;
	border: 1px solid #aaa;
	outline: none
}

.u-calendar-month td,
.u-calendar-month td button {
	font-size: 10px;
	height: 20px;
	width: 25px;
}
.u-calendar-weekdays {
	border-bottom: 1px solid #bbb
}
.u-calendar-weekdays th {
	color: #666;
}

.u-calendar-year td,
.u-calendar-year td button {
	font-size: 12px;
	height: 26px;
	width: 60px
}

.u-calendar-decade td,
.u-calendar-decade td button {
	font-size: 12px;
	height: 26px;
	width: 45px
}
