.u-calendar {
	background: #fff;
	border: 1px solid #000;
	height: 160px;
	overflow: hidden;
	position: absolute;
	width: 200px
}

.u-calendar * {
	color: #000;
	font-size: 11px;
	margin: 0
}

.u-calendar button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0
}

.u-calendar-switcher {
	background: #aaa;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 16px;
	padding: 2px;
	text-align: center
}

.u-calendar table {
	border-collapse: collapse;
	left: 50%;
	margin-left: -85px;
	position: absolute;
	top: 20px
}

.u-calendar td {
	height: 22px;
	padding: 0;
	width: 24px;
}
.u-calendar td button {
	background: #fff;
	height: 22px;
	width: 24px
}
.u-calendar td button:hover {
	background: #ccc;
	font-size: 13px
}

.u-calendar-buttons button {
	background: red;
	color: transparent;
	height: 180px;
	position: absolute;
	top: 20px;
	width: 15px
}
button.u-calendar-buttons-next {
	right: 0
}